<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
        <!-- For local execution, the value can be set either in this config file or through environment variables -->
        <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=repostats;AccountKey=6b5LAz0oxrtqP9+glnUJUZvdlGHdEJGyXXTUmEQk7T19406rXp5nifEac1sQGeytMI2QZShLzv5ezAZ9spq/SA==;EndpointSuffix=core.windows.net" />
        <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=repostats;AccountKey=6b5LAz0oxrtqP9+glnUJUZvdlGHdEJGyXXTUmEQk7T19406rXp5nifEac1sQGeytMI2QZShLzv5ezAZ9spq/SA==;EndpointSuffix=core.windows.net" />
        <add name="DbConnectionString" connectionString="Server=tcp:repostats.database.windows.net,1433;Initial Catalog=RepoStatsDb;Persist Security Info=False;User ID=repostats;Password=Naturalny1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    </connectionStrings>
    <appSettings>
        <add key="GitHubToken" value="ff6388318e6086f012f1548da41f1775210100c5" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>